go 1.21.5

use (
	./src/accessRedis
	./src/logServer
	// ./test1_main
	./wzConfig_main
)

replace cs255/logLayer/accessRedis v0.0.0 => ./src/accessRedis

replace cs255/logLayer/logServer v0.0.0 => ./src/logServer
